extends layout

block content

  .main-container
    .row
      .col-md-6.col-md-offset-3
        h2 AGREGAR PELÍCULA

        // register form
        form(method='POST' action='/createMovie')
          div.form-group
            label(for='Title') Título:
            input(type='text', name="Title", id="Title",class="form-control")
          div.form-group
            label(for='Description') Descripción:
            input(type='text', id="Description", name='Description', class="form-control")
          div.form-group
            label(for='Duration') Duracion:
            input(type='number', placeholder = 'Minutos' name='Duration', id ='Duration', class='form-control')
          div.form-group
            label(for='Release_date') Fecha de estreno:
            input(type='date',  name='Release_date', id="Release_date", class="form-control")
          button.btn.btn-primary(type='submit') Agregar