extends layout

block content
    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/get-movies') Peliculas 
            a.btn.btn-outline-success.btn-lg(href='/get-theaters') Sedes
            a.btn.btn-outline-success.btn-lg(href='/get-rooms') Salas
            a.btn.btn-outline-success.btn-lg(href='/get-genres') Generos
            a.btn.btn-outline-success.btn-lg(href='#') Lenguajes
            a.btn.btn-outline-success.btn-lg(href='#') Censura
            a.btn.btn-outline-success.btn-lg(href='#') Tipo de Tecnologia
