extends layout

block content
    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='pelicula') Peliculas 
            a.btn.btn-outline-success.btn-lg(href='sede') Sedes
            a.btn.btn-outline-success.btn-lg(href='sala') Salas
            a.btn.btn-outline-success.btn-lg(href='genre') Generos
            a.btn.btn-outline-success.btn-lg(href='lenguaje') Lenguajes
            a.btn.btn-outline-success.btn-lg(href='#') Censura
            a.btn.btn-outline-success.btn-lg(href='#') Tipo de Tecnologia
            a.btn.btn-outline-success.btn-lg(href='comida') Comida
