extends layout

block content
  .container-fluid
    h2 ADMINISTRAR SITIO
    
    .row
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Sedes y salas
          a.list-group-item.list-group-item-action(href='get-theaters') Ver Sedes
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            |  Peliculas y funciones
          a.list-group-item.list-group-item-action(href='/get-movies') Lista de películas
          a.list-group-item.list-group-item-action(href='/get-movies') Funciones
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Confiteria y combos
          a.list-group-item.list-group-item-action(href='/create-food') Agregar Comida
          a.list-group-item.list-group-item-action(href='/delete-food') Eliminar Comida
          a.list-group-item.list-group-item-action(href='create-combo') Crear combo
          a.list-group-item.list-group-item-action(href='update-combo') Modificar combo
          a.list-group-item.list-group-item-action(href='/delete-combo') Eliminar combo
      .col(style='background-color:white;')
        .list-group
          a.list-group-item.list-group-item-action.active(href='#')
            | Confiteria y combos
          a.list-group-item.list-group-item-action(href='/create-food') Agregar Comida
          a.list-group-item.list-group-item-action(href='/delete-food') Eliminar Comida
          a.list-group-item.list-group-item-action(href='create-combo') Crear combo
          a.list-group-item.list-group-item-action(href='update-combo') Modificar combo
          a.list-group-item.list-group-item-action(href='/delete-combo') Eliminar combo