extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-dish') Agregar Comida
            a.btn.btn-outline-success.btn-lg(href='/get-dish') Obtener Comida
            a.btn.btn-outline-success.btn-lg(href='/delete-dish') Eliminar Comida  