extends layout

block content
    .card  
        .card-body
            .main-container.container-fluid
                .row
                .col-md-6.col-md-offset-3
                    h2 AGREGAR TIPO DE PLATO
                    // register form
                    form(method='POST' action='/createDishType')
                        div.form-group
                            label(for='Dish') Tipo de plato:
                            input(type='text', name="Description", id="Description",class="form-control")
                        button.btn.btn-success(type='submit') Agregar tipo de plato