extends layout

block content
    .card  
        .card-body
            .main-container.container-fluid
                .row
                .col-md-6.col-md-offset-3
                    h2 AGREGAR PLATO
                    // register form
                    form(method='POST' action='/createDish')
                        div.form-group
                            label(for='Dish') Tipo de comida:
                                select(name="Dish_type_id", id="Dish_type_id", class="form-control")
                                    -for(let i = 0; i < dishType.length; i++)
                                        option(value = dishType[i].id) #{dishType[i].Description}
                        div.form-group
                            label(for='Dish') Plato:
                            input(type='text', name="description", id="description",class="form-control")
                        button.btn.btn-success(type='submit') Agregar plato