extends layout

block content
    .card
        .card-body
            .col-sm-9#form
                h3 ELIMINAR PELÍCULA
                hr
                br
                .card
                    .card-body  
                        form(method="POST", action="/deleteMovie" )
                            .row
                                .col-sm-3
                                    select(name='id', class="form-control", id="id")
                                        -for(let i = 0; i < movie.length; i++)
                                            option(value=movie[i].id) #{movie[i].Title}
                            br
                            button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Eliminar