extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-genre') Agregar Genero
            a.btn.btn-outline-success.btn-lg(href='/get-genres') Mostrar Generos 
            a.btn.btn-outline-success.btn-lg(href='/delete-genre') Eliminar Genero