extends layout

block content
    .card
        .card-body
            .container-fluid.row
                .container-fluid.col-8#table
                    h3#text GENEROS
                    hr
                    br
                    table.table.bg-white
                        thead
                            tr(style="text-align:center;")
                                th(scope='col') ID
                                th(scope='col') Género
                        tbody
                        -for(let i = 0; i <genre.length; i++)
                            tr(style="text-align:center;")
                                th(scope='row')
                                    h5 #{genre[i].id}
                                td
                                    h5 #{genre[i].Genre_type}
            div.text-center
                a.btn.btn-primary(href='/create-genre')  Agregar genero