extends layout

block content
    .card
        .card-body
            .card
                .card-body
                    a.btn.btn-outline-success.mr-5(href="/administrar") Regresar
            .card
                .card-body
                    .container-fluid
                        .container-fluid.col-8#table
                            h3#text GENEROS
                            hr
                            br
                            table.table.bg-white
                                thead.text-center
                                    tr(style="text-align:center;")
                                        th(scope='col') ID
                                        th(scope='col') Género
                                        th
                                tbody
                                -for(let i = 0; i <genre.length; i++)
                                    tr(style="text-align:center;")
                                        th(scope='row')
                                            h5 #{genre[i].id}
                                        td
                                            h5 #{genre[i].Genre_type}
                                        td
                                            form(method="POST" acton="/deleteGenre")
                                                button.btn.btn-danger(value=genre[i].id, name='id') X 
                    div.text-center
                        a.btn.btn-success.d-inline.m-3(href='/create-genre')  Agregar genero
                        a.btn.btn-success.d-inline.m-3(href='/update-genre')  Modificar genero
                        a.btn.btn-success.d-inline.m-3(href='/delete-genre')  Borrar genero