extends layout

block content
    .card
        .card-body
            .card
                .card-body
                    a.btn.btn-outline-success.mr-5(href="/administrar") Regresar
            .card
                .card-body
                    .container-fluid.col-sm-8#table
                        h3#text TIPOS DE SALA
                        hr
                        br
                        table.table.bg-white
                            thead.text-center
                                tr(style="text-align:center;")
                                th(scope='col') Id
                                th(scope='col') Descripción
                                th
                            tbody
                            -for(let i = 0; i <roomType.length; i++)
                                tr(style="text-align:center;")
                                    th(scope='row')
                                        h5 #{roomType[i].id}
                                    td
                                        h5 #{roomType[i].Description}
                                    td
                                        form(method='POST', action='/deleteRoomType')
                                            button.btn.btn-danger(value=roomType[i].id, name='id') X
                    div.text-center
                        a.btn.btn-success.d-inline.m-3(href='/create-room-type')  Agregar tipo de sala
