extends layout

block content
    .card
        .card-body
            .col-sm-8#table
                h3#text LISTA DE IDIOMAS
                hr
                br
                table.table.bg-white
                    thead
                        tr(style="text-align:center;")
                        th(scope='col') Id
                        th(scope='col') Descripción
                    tbody
                    -for(let i = 0; i <lenguage.length; i++)
                        tr(style="text-align:center;")
                            th(scope='row')
                                h5 #{lenguage[i].id}
                            td
                                h5 #{lenguage[i].Description}