extends layout

block content
    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='administrar') Administrar 
            a.btn.btn-outline-success.btn-lg(href='#') Comprar Boletos
            a.btn.btn-outline-success.btn-lg(href='#') Comprar Combos

















           

