extends layout

block content

    a.btn.btn-outline-primary.btn-lg(href='administrar') Administrar 
    a.btn.btn-outline-primary.btn-lg(href='/agregar-pelicula') Agregar Pelicula
    a.btn.btn-outline-primary.btn-lg(href='/get-peliculas') Obtener Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/modificar-pelicula') Modificar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/eliminar-pelicula') Eliminar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='#') Compra de comida