extends layout

block content

    a.btn.btn-outline-primary.btn-lg(href='administrar') Administrar 
    a.btn.btn-outline-primary.btn-lg(href='/agregar-pelicula') Agregar Pelicula
    a.btn.btn-outline-primary.btn-lg(href='/get-peliculas') Obtener Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/modificar-pelicula') Modificar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/eliminar-pelicula') Eliminar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/agregar-theater') Agregar Sede
    a.btn.btn-outline-primary.btn-lg(href='/get-theater') Ver Sedes
    a.btn.btn-outline-primary.btn-lg(href='/modificar-theater') Modificar Sede
    a.btn.btn-outline-primary.btn-lg(href='/eliminar-theater') Eliminar Sede
    a.btn.btn-outline-primary.btn-lg(href='/agregar-technology') Agregar Technology
    a.btn.btn-outline-primary.btn-lg(href='/get-technology') Ver Technology
    a.btn.btn-outline-primary.btn-lg(href='/modificar-technology') Modificar Technology
    a.btn.btn-outline-primary.btn-lg(href='/eliminar-technology') Eliminar Technology
    a.btn.btn-outline-primary.btn-lg(href='#') Compra de comida