extends layout

block content
    .card
        .card-body
            a.btn.btn-outline-primary.btn-lg(href='administrar') Administrar 
            a.btn.btn-outline-primary.btn-lg(href='/create-movie') Agregar Pelicula
            a.btn.btn-outline-primary.btn-lg(href='/get-movies') Obtener Peliculas 
            a.btn.btn-outline-primary.btn-lg(href='/update-movie') Modificar Peliculas 
            a.btn.btn-outline-primary.btn-lg(href='/delete-movie') Eliminar Peliculas 
            a.btn.btn-outline-primary.btn-lg(href='/add-theater') Agregar Sede
            a.btn.btn-outline-primary.btn-lg(href='/get-theaters') Ver Sedes
            a.btn.btn-outline-primary.btn-lg(href='/update-theater') Modificar Sede
            a.btn.btn-outline-primary.btn-lg(href='/delete-theater') Eliminar Sede
            a.btn.btn-outline-primary.btn-lg(href='/create-technology') Agregar Technology
            a.btn.btn-outline-primary.btn-lg(href='/get-technology') Ver Technology
            a.btn.btn-outline-primary.btn-lg(href='/update-technology') Modificar Technology
            a.btn.btn-outline-primary.btn-lg(href='/delete-technology') Eliminar Technology
            a.btn.btn-outline-primary.btn-lg(href='#') Compra de comida