extends layout

block content

    a.btn.btn-outline-primary.btn-lg(href='/administrar') Administrar 
    a.btn.btn-outline-primary.btn-lg(href='/add-movie') Agregar Pelicula
    a.btn.btn-outline-primary.btn-lg(href='/get-movies') Obtener Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/update-movie') Modificar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='/delete-movie') Eliminar Peliculas 
    a.btn.btn-outline-primary.btn-lg(href='#') Compra de comida