extends layout

block content
    .card
        .card-body.text-center
            a.btn.btn-outline-success.btn-lg.m-3(href='administrar') Administrar 
            a.btn.btn-outline-success.btn-lg.m-3(href='#') Comprar Boletos
            a.btn.btn-outline-success.btn-lg.m-3(href='#') Comprar Combos

















           

