extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-language') Agregar Lenguaje
            a.btn.btn-outline-success.btn-lg(href='/get-language') Obtener Lenguaje
            a.btn.btn-outline-success.btn-lg(href='/delete-language') Eliminar Lenguaje