extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-movie') Agregar Pelicula
            a.btn.btn-outline-success.btn-lg(href='/get-movies') Obtener Peliculas 
            a.btn.btn-outline-success.btn-lg(href='/update-movie') Modificar Peliculas 
            a.btn.btn-outline-success.btn-lg(href='/delete-movie') Eliminar Peliculas

