extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-room') Agregar Sala
            a.btn.btn-outline-success.btn-lg(href='/get-room') Obtener Salas
            a.btn.btn-outline-success.btn-lg(href='/update-room') Modificar Sala
            a.btn.btn-outline-success.btn-lg(href='/delete-room') Eliminar Sala