extends layout

block content

    .card
        .card-body
            a.btn.btn-outline-success.btn-lg(href='/create-theater') Agregar Sede
            a.btn.btn-outline-success.btn-lg(href='/get-theaters') Obtener Sedes
            a.btn.btn-outline-success.btn-lg(href='/update-theater') Modificar Sede
            a.btn.btn-outline-success.btn-lg(href='/delete-theater') Eliminar Sede