extends layout

block content

    .col-sm-9#form
        h3 ACTUALIZAR PELÍCULA
        hr
        br
        .card
            .card-body
                form(method="POST", action="/updateMovie" )
                    .row
                        .col-sm-3
                            label Película a modificar
                            br
                            select(name='TITLE', class="form-control", id="TITLE")
                                -for(let i = 0; i < movie.length; i++)
                                    option(value=movie[i].TITLE) #{movie[i].TITLE}
                        .col-sm-3
                            label Descripción
                            br
                            input(type="text", name="DESCRIPTION", id="DESCRIPTION", class="form-control")
                        .col-sm-3
                            label Duración
                            br
                            input(type="number", name="DURATION", id="DURATION", class="form-control")
                        .col-sm-3
                            label Fecha de estreno
                            br
                            input(type="date", name="RELEASE_DATE", id="RELEASE_DATE", class="form-control")
                    br
                    button.btn.btn-primary.btn-lg(type="submit", style="position:relative; left:45%;" ) Actualizar