extends layout

block content

    .col-sm-9#form
        h3 ACTUALIZAR PELÍCULA
        hr
        br
        .card
            .card-body
                form(method="POST", action="/updateMovie" )
                    .row
                        .col-sm-3
                            label Película a modificar
                            br
                            select(name='id', class="form-control", id="id")
                                -for(let i = 0; i < movie.length; i++)
                                    option(value=movie[i].id) #{movie[i].Title}
                        .col-sm-3
                            label Titulo
                            br
                            input(type="text", name="Title", id="Title", class="form-control")
                        .col-sm-3
                            label Descripción
                            br
                            input(type="text", name="Description", id="Description", class="form-control")
                        .col-sm-3
                            label Duración
                            br
                            input(type="number", name="Duration", id="Duration", class="form-control")
                        .col-sm-3
                            label Fecha de estreno
                            br
                            input(type="date", name="Release_date", id="Release_date", class="form-control")
                        .col-sm-3
                            label Genero:
                            br
                            select(name="Genre_id", id="Genre_id", class="form-control")
                                -for(let i = 0; i < genre.length; i++)
                                    option(value=genre[i].id) #{genre[i].Genre_type}
                    br
                    button.btn.btn-success.btn-lg(type="submit", style="position:relative; left:45%;" ) Guardar cambios